

.root {
     -fx-background-color: #FFFAF0;
}
.button {
    -fx-text-fill: black;
    -fx-background-color: #FFFAFA;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: #DCDCDC;
}